.promo {
  padding: 20px;
  margin-bottom: 30px;
  max-width: 100vw;
}

.promoTitle {
  font-size: 52px;
  max-width: 750px;
  margin-bottom: 30px;
}

.promoList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.promoItem {
  display: flex;
  gap: 20px;
  max-width: 555px;
  border-bottom: 1px solid var(--gray);
  padding-top: 32px;
  padding-bottom: 32px;
}

.promoItemText {
  font-size: 24px;
  line-height: 1.4;
}

.promoLink {
  font-weight: 500;
  border-bottom: 2px dashed white;
  cursor: pointer;
}

.promoIcon {
  width: 44px;
  height: 44px;
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .promoTitle {
    font-size: 26px;
  }

  .promoItemText {
    font-size: 16px;
  }

  .promoItem {
    padding: 0;
    border: none;
  }
}
