.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footerLink {
  color: var(--white);
  font-size: 18px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.blueLink {
  color: var(--blue);
}
