.faqItem {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 530px;
  border-bottom: 1px solid var(--buttonGray);
  padding-top: 10px;
  padding-bottom: 32px;
}

.question {
  position: relative;
  color: var(--black);
  font-size: 18px;
  text-align: left;
  width: 100%;
  padding-right: 60px;
}

.faqIcon {
  position: absolute;
  right: 30px;
  width: 16px;
  height: 16px;

  &_closed {
    transform: rotate((45deg));
  }
}

.answer {
  color: var(--lightGray);
  font-size: 18px;
  padding-right: 60px;
}

@media screen and (max-width: 767px) {
  .faqItem {
    width: 90vw;
    padding: 15px 0;
  }
}
