.page {
  font-family: var(--font-rubik-sans);
  background-image: url("/background.png");
  background-repeat: no-repeat;
  background-position: top;
}

.pageContainer {
  width: 1180px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
