.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 50px;
  background: var(--buttonGray);
  border: none;
  color: var(--lightGray);
  font-size: 14px;
  font-weight: 600;

  &:hover {
    background: var(--lightGray);
    color: var(--white);
  }

  &_current {
    background: var(--red) !important;
    color: var(--white);
  }
}
